#technologies-text-container {
    position: absolute;
    bottom: 5%;
    left: 5%;

    font-size: 48px;
    z-index: 50;

    cursor: pointer;
    pointer-events: all;
}

#languages-tags-container {
    position: absolute;
    top: 9%;
    font-size: 48px;
    z-index: 10;
}

#frameworks-tools-tags-container {
    position: absolute;
    top: 9%;
    font-size: 48px;
    z-index: 10;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1200px) {
    .tag-group {
        grid-template-columns: repeat(7, 1fr);
        width: 70vw;
    }

    .indiv-item-container > p {
        font-size: 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .tag-group {
        grid-template-columns: repeat(4, 1fr);
        width: 100vw;
    }

    .indiv-item-container > p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .tag-group {
        grid-template-columns: repeat(2, 1fr);
        width: 100vw;
    }

    .indiv-item-container > p {
        font-size: 18px;
    }
}

.tag-group {
    display: grid;
    margin: 0 auto;
}

.indiv-item-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    height: fit-content;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.indiv-item-container > p {
    text-align: center;
    height: fit-content;
    padding: 2%;
}

.above-screen {
    transform: translateY(-100vh);
    transition: all 1s;
    pointer-events: none;
}

.on-screen {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s;
    pointer-events: all;
}

.below-screen {
    transform: translateY(300);
    opacity: 0;
    transition: all 0.75s;
    pointer-events: none;
}