footer > a {
    position: absolute;
    bottom: 3%;
    left: 3%;

    pointer-events: all;
}

footer > div {
    position: absolute;
    bottom: 3%;
    right: 3%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    text-align: center;

    pointer-events: all;
}

@media only screen and (min-width: 1200px) {
    footer > div {
        width: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    footer > div {
        width: 20%;
    }
}

@media only screen and (max-width: 768px) {
    footer > div {
        width: 30%;
    }

    footer > a > h2 {
        display: none;
    }
}

.home-page-active > img {
    filter: brightness(1);

    width: 100%;

    transition: all .25s ease-in-out;
}
  
.home-page-active > img:hover {
    filter: brightness(0.55);
    cursor: pointer;

    transition: all .15s ease-in-out;
}

.projects-page-active-socials > img {
    filter: brightness(0);
    width: 100%;

    transition: all .25s ease-in-out;
}
  
.projects-page-active-socials > img:hover {
    filter: brightness(0.55);
    cursor: pointer;

    transition: all .15s ease-in-out;
}
